*.pyc
db.sqlite3
venv/
restaurant/
__pycache__/
local_settings.py
Ocean_restaurants/Ocean_restaurants
Ocean_restaurants/static
Ocean_restaurants/templates
Ocean_restaurants/Ocean_restaurants/local_settings
Ocean_restaurants/Ocean_restaurants/settings.py

